.release-card {
  width: 200px;
  height: 200px;
  padding: 16px;
  border-radius: 16px;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  box-shadow: -1px 5px 12px -2px rgba(0, 0, 0, 0.54);

  align-self: center;
  justify-self: center;

  &:hover {
    box-shadow: -1px 5px 12px 0px rgba(0, 0, 0, 0.75);
  }

  &__glass-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: white;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    opacity: 0;
    filter: blur(100%);
    transition: 0.3s;

    &:hover {
      filter: blur(0%);
      backdrop-filter: blur(20px) brightness(75%);
      opacity: 100;
    }
  }

  &__download-button {
    img {
      width: 16px;
    }
    font-family: "Montserrat";
    border-radius: 8px;
    padding: 8px 16px;
    color: #040404;
    display: flex;
    gap: 8px;
    font-weight: 400;
    flex-direction: row;
    background-color: #e3e3e3;
  }
}
