:root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#d68080, #675484);
}
#root {
  height: 100%;
  overflow-y: auto;
}
body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}
